*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins",sans-serif;
}
/*----------------------------------------------------------------------------------------------------------------------------*/

html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: black;
    color: white;
}
.header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;

}
.logo{
    font-size: 2.3rem;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: "Cinzel Decorative", serif;
    text-shadow: 0 0 25px  #c77dff;
 }
.logo:hover{
    transform: scale(1.1);
    text-shadow: 0 0 25px  #c77dff,
                 0 0 45PX  #c77dff;

}
.logo span{
    
    font-family: "Cinzel Decorative", serif;
    

}
 
 .navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 400;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
 }
 .navbar a:hover,
 .navbar a:active{
    color: white;
    border-bottom: 3px solid white;
    text-shadow: 0 0 25px white,
                 0 0 50px #fff;
 }
 #menu-icon{
    font-size: 3.6rem;
    color: #c77dff;
    display: none;
 }
 section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
 }
 .home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
 }
 .home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
    
 }
 span{
    color: white;

 }
 .logo span{
    color: white;
 }
 .home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
 }
 .home-content h1{
    font-size: 4rem;
    color:#c77dff;
    font-weight: 100;
    margin-top: 1.5rem;
    line-height: 1;
    font-family: "Satisfy", cursive;
        
        font-style: normal;
        
 }
 .home-content h1 span{
   font-family: "poppins",sans-serif;
   font-weight: 500;
   font-size: 5rem;
   
 }
  
    
 
 .home-img img{
    position: relative;
    top: 3rem;
    width: 28vw;
    box-shadow: 0 0 25px #c77dff;
    border-radius: 50%;
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
    justify-content: right;
    

 }
 .home-img img:hover{
    box-shadow:  0 0 25px #c77dff,
                 0 0 35px #c77dff,
                 0 0 45px #c77dff;
 }
 @keyframes floatImage {
   0%{
      transform: translateY(0);
   }
   50%{
      transform: translateY(-2.4rem);
   }
   100%{
      transform: translateY(0);
   }
 }
 .home-content{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
 }
   .social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid #c77dff;
    font-size: 2.5rem;
    border-radius: 50%;
    color: #c77dff;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
 }
   .social-icons a:hover{
    color: #ffffff;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px #c77dff;
    background-color: #c77dff;

 }
 .btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: 0 0 25px #c77dff;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
 }
 .btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px #c77dff;
 }
 .btn-group{
    display:flex;
    align-items: center;
    gap: 1.5rem;
 }
 .btn-group a:nth-of-type(2){
    background-color: transparent;
    color: #c77dff;
    border: 2px solid #c77dff;
    box-shadow: 0 0 25px transparent;
 }
 .btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px #c77dff;
 }
 .btn-group a:nth-of-type(1){
   background-color: #c77dff;
   color: white;
   border: 2px solid #c77dff;
   box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(1):hover{
   box-shadow: 0 0 25px #c77dff;
}
 
.wrapper{
   display: inline-flex;

}
.wrapper .statictext{
   color: white;
   font-size: 34px;
   font-weight: 600;
   /* min-width: 280px; */
}
.wrapper .dyntext{
   margin-left: 15px;
   height: 60px;
   line-height: 60px;
   overflow: hidden;
 }
.dyntext li{
   color: #c77dff;
   list-style: none;
   font-size: 34px;
   font-weight: 600;
   position: relative;
   top: 0;
   animation:  slide 6s steps(4) infinite;
}
@keyframes slide{
   100%{
      top: -240px;
   }
}
.dyntext li span{
   position: relative;

}
.dyntext li span::after{
   content: "";
   position: absolute;
   left: 0;
   height: 110%;
   width: 100%;
   border-left: 2px solid #c77dff;
   background: black;
   animation: typing 1.5s steps(14) infinite;
}
@keyframes   typing{
   100%{
      left: 100%;
      margin: 0 -35px 0 35px;
   }
}
/*------------------------------------------------------------------------------------------------------------*/
.headline{
   font-size: 7rem;
   text-align: center;
   margin: 3rem 0;
}
.education{
   padding: 100px 15px;
   background: black;
}
.education h2{
   margin-bottom: 5rem;
}
.items{
   max-width: 1200px;
   margin: auto;
   display:flex;
   /* flex-wrap: wrap; */
   position: relative;
   gap: 2.5rem;
   justify-content: space-between;
   
}
.items::before{
   content: "";
   position: absolute;
   width: 5px;
   height: 100%;
   background-color: black;
   left: calc(50% - 1px);
}
.item{
   margin-bottom: 40px;
   width: 100%;
   position:relative;
}
.item:last-child{
   margin-bottom: 0;
}
/* .item:nth-child(odd){
   padding-right: calc(50%+30px);
   text-align: right;
}
.item:nth-child(even){
   padding-left: calc(50%+30px);
   
}   */
.dot{
   height: 21px;
   width: 21px;
   background-color: #c77dff;
   
   position: absolute; 
   left: calc(50%-8px);
   border-radius: 50%;
   top: 12px;

}
.year{
   font-size: 20px;
   font-weight: 800;
   color: white;
   margin: 8px 50px 15px;
}
.notes{
   background-color: black;
   color: #c77dff;
   border: 3px solid #c77dff;
   padding: 30px 50px;
   border-radius: 4rem;
   /* box-shadow: 0 0 10px #c77dff; */
   cursor: pointer;
   transition: 0.3s ease-in-out;
}

.notes:hover{
   
   box-shadow:  0 0 25px #c77dff,
                0 0 30px #c77dff;
}
.notes h3{
   font-size: 25px;
   margin: 0 0 10px;
   /* color: white; */
}
.notes p{
   font-size: 15px;
   color: white;
}
::-webkit-scrollbar{
   width: 10px;
}
::-webkit-scrollbar-thumb{
   background-color: #c77dff;
}
::-webkit-scrollbar-track{
   background-color: black;
   width: 30px;
}
/*------------------------------------------------------------------------------------------------------------*/

 .aboutme{
   background: black;
   color:  white;
 }
 .aboutme h2{
   margin-bottom: 5rem;
   color: white;
 }
 .skills{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   align-items: center;
   gap: 2.5rem;
 }
 .skill{
   background-color: #2f277c;
   height: 160px;
   border-radius: 0 3rem 0 3rem;
   padding: 1.6rem 1.6rem;
   border: 6px solid transparent;
   cursor: pointer;
   transition: 0.4s all;
 }
 .skill:hover{
   background: white;
   color: #0f0c29;
   border: 6px solid #2f277c;
   padding: 1.6rem 1.6rem;
   box-shadow:  0 0 25px #c77dff,
                0 0 30px #2f277c;

   /* transform: scale(1.02); */
 }
 .skill .brief{
   display: flex;
   flex-direction: column;
   text-align: left;
   max-height: 100px;
   justify-content: left;
   align-items: baseline;
   padding: 0.5rem 0.5rem;
 }
 .skill .brief h4{
   font-size: 28px;
   line-height: 3rem;
 }
 .skill .brief p{
   font-size: 13px;
   max-height: 100px;
   margin: auto;
   line-height: 1.7; 
 }
/*--------------------------------------------------------------------------------------------------------------------------*/






/* --------------------------------------------------------------------------------------------------------------------- */
.contact .headline{
   margin-top: -10px;
} 
.contact .left{
   margin-left: 10rem;
   margin-top: 10rem;

}
.contact .left h4{
   font-size: 25px;
   color: #c77dff;
}
.contact .left p{
   font-size: large;
}
.contact .left p i{
   color: #c77dff;
}
.contact .right{
   margin-left: 60rem;
}
.contact .right form{
   margin-top: -110px;
   
}
.contact .right form input,
.contact .right form textarea
{
   width: 100%;
   background-color: black;
   padding: 1.5rem 0;
   padding-left: 2rem;
   border: 2px solid #c77dff;
   border-radius: 3rem;
   margin: 10px 0;
   color: white;

}
.contact .right form .button{
   background-color: transparent;
    color: #c77dff;
    border: 2px solid #c77dff;
    box-shadow: 0 0 25px transparent;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: 0 0 25px #c77dff;
    border-radius: 4rem;
    font-size: 1.6rem;
    color:  white;
    border: 2px solid #c77dff;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #c77dff;
}
.contact .right form .button:hover{
   box-shadow: 0 0 25px #c77dff;
   transform: scale(1.05);

}
/*------------------------------------------------------------------------------------------------------------------*/

.footer{
   position: relative;
   bottom: 0;
   width: 100%;
   padding: 40px 0;
   background-color: #0f0c29;
}
.footer .social{
   text-align: center;
   padding-bottom: 25px;
   color: #fff;
}
.footer .social a{
   font-size: 15px;
   
   color: #c77dff;
   width: 42px;
   line-height: 42px;
   display: inherit block;
   text-align: center;
   
   margin: 0 10px;
   transition: 0.3s ease-in-out;
   
}
.footer .social a:hover{
   transform: scale(1.2)translateY(-10px);
   background-color:#c77dff;
   color: white;
   box-shadow: 0 0 25px #c77dff;

}
.footer ul{
   margin-top: 0;
   padding: 0;
   font-size: 5px;
   margin-bottom: 0;
   line-height: 1.6;
   text-align: center;
}
.footer ul li a{
   color: white;
    transition: 0.3s easein ease-in-out;
    font-size: 5px;
   
}
.footer ul li a:hover{
   border-bottom:  1px solid #fff;

} 
.footer ul li {
   display: inline-block;
   padding: 0 15px;
}
.footer .copyright{
   margin-top: 50px;
   text-align: center;
   font-size: 14px;
   color: white;
}
/*------------------------------------------------------------------------------------------------------------------------*/

